.wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.logo{
    width:100%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    margin-top: 86px;
}

.searchInput{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}
.characters{
    width: 100%;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    justify-content: space-around;
}


@media (max-width: 768px) {
    .logo img{
        height: auto;
        width: 100%;
    }
}

@media (max-width: 480px) {
    .characters{
        display: flex;
        flex-direction: column; 
        align-items: center;
    }
}
